/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fonts*/
@font-face {
    font-family: "Metropolis Black";
    src: url(../fonts/Metropolis-Black.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis Thin Italic";
    src: url(../fonts/Metropolis-ThinItalic.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis Medium Italic";
    src: url(../fonts/Metropolis-MediumItalic.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis Thin";
    src: url(../fonts/Metropolis-Thin.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis Regular Italic";
    src: url(../fonts/Metropolis-RegularItalic.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis Regular";
    src: url(../fonts/Metropolis-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
/*style*/
/*header*/
header {
    background-color: #a81b1b;
    padding: 5px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
header img {
    width: 85px;
    height: auto;
}
header h1 {
    font-family: "Metropolis Black";
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    margin-left: 15px;
}
nav {
    width: fit-content;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav li {
    list-style-type: none;
    margin-right: 45px;
}
nav li:last-child {
    margin-right: 0;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: "Metropolis Regular Italic";
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}
nav a:hover {
    background-color: #e45151;
}
/*body*/
body {
    overflow-x: hidden;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
/*container*/
.container {
    margin: 50px 200px;
}
.container .title {
    font-family: "Metropolis Black";
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 30px;
}
.container .infos {
    font-family: "Metropolis Regular";
    color: white;
    font-size: 30px;
    text-align: justify;
    margin-bottom: 20px;
}
.container a {
    color: #a81b1b;
    font-weight: bolder;
    text-decoration: none;
}
.container p a:hover {
    text-decoration: underline;
}
/*index*/
.panel {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.tab {
    border: 1px solid #a81b1b;
    height: 50vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Metropolis Black";
    text-transform: uppercase;
    display: flex;
}
.tab:hover {
    background-color: rgb(0, 0, 0, 0.25);
}
.tab-title {
    font-size: 70px;
}
.tab a {
    text-decoration: none;
}
.tab img {
    height: 80%;
    width: auto;
}
.large {
    grid-column-start: span 3; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.medium {
    grid-column-start: span 2;
}
.small, .medium {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small .tab-title, .medium .tab-title {
    margin-bottom: 20px;
}
.medium p {
    margin-bottom: 15px;
}
.medium p:last-child {
    margin-bottom: 30px;
}
.button {
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    color: #a81b1b;
    margin-bottom: 15px;
    font-family: "Metropolis Black";
    text-transform: uppercase;
}
.button:last-child {
    margin-bottom: 0;
}
.button:hover {
    background-color: #a81b1b;
    color: white;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#status {
    font-size: 30px;
}
#twitch-title {
    font-size: 25px;
}
#join {
    display: none;
}
/*club*/
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
/*team*/
.team {
    margin-top: 10px;
    padding: 20px;
}
.team-title {
    font-family: "Metropolis Black";
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 2px #a81b1b;
    text-align: center;
    margin-bottom: 10px;
}
.team-subtitle {
    font-family: "Metropolis Regular Italic";
    text-align: center;
}
.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.player {
    padding: 5px 15px;
    width: 400px;
    border: 2px solid white;
    margin-bottom: 10px;
    background-color: rgb(168, 27, 27, 0.65);
    font-family: "Metropolis Regular";
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.player-role {
    font-family: "Metropolis Thin Italic";
    text-transform: uppercase;
    font-size: 20px;
}
.player a {
    color: white;
    font-size: 35px;
}
#fifa {
    background-image: url(../images/fifa.jpg);
    background-size: cover;
    background-position: center;
}
#hs {
    background-image: url(../images/hs.jpg);
    background-size: cover;
    background-position: center;
}
#tm {
    background-image: url(../images/tm.jpg);
    background-size: cover;
    background-position: center;
}
/*shop*/
.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-card {
    width: 450px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    line-height: 3rem;
    padding-bottom: 20px;
    padding-top: 20px;
}
.product-card img {
    width: 300px;
    height: auto;
}
.product-card #image {
    font-size: 17rem;
    color: #a81b1b;
}
.product-card h2 {
    font-family: "Metropolis Black";
    color: #a81b1b;
    font-size: 25px;
    text-transform: uppercase;
}
.product-card .product-info {
    color: #a81b1b;
    text-align: center;
    padding-right: 15px;
    margin-bottom: 10px;
}
.product-card .button {
    text-decoration: none;
    border: 1px solid #a81b1b;
}
.product-info {
    font-family: "Metropolis Thin";
    font-size: 25px;
}
#wait-btn:hover {
    background-color: grey;
    border-color: grey;
}
#new {
    display: none;
}
/*footer*/
footer {
    background-color: #a81b1b;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer h2 {
    font-family: "Metropolis Medium Italic";
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal;
}
footer i {
    font-size: 35px;
    margin-bottom: 10px;
}
footer i:last-child {
    margin-right: 0;
}
footer a {
    font-family: "Metropolis Thin";
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
footer p {
    font-family: "Metropolis Thin Italic";
    font-size: 10px;
}
footer .right-part {
    display: flex;
    flex-direction: row;
}
footer .categories {
    display: flex;
    flex-direction: column;
    border-right: 2px solid white;
    padding-right: 5px;
    width: fit-content;
    text-align: right;
    line-height: 2rem;
    margin-right: 50px;
}
footer .categories:last-child {
    margin-right: 0;
}
footer .categories h2 {
    margin: 0;
}
footer .categories a {
    margin: 0;
    font-size: 20px;
}
footer .categories a:hover {
    text-decoration: underline;
}
/*nav mobile*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #a81b1b;
    font-family: "Metropolis Regular";
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 5px 15px;
    display: none;
}
.nav a {
    color: white;
    text-decoration: none;
}
/*responsive*/
@media screen and (max-width:1456px) {
    header h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width:1256px) {
    .player {
        width: 100%;
    }
    .products {
        flex-direction: column;
    }
    .product-card {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1163px) {
    header {
        justify-content: center;
    }
    nav {
        display: none;
    }
    .nav {
        display: flex;
    }
    footer {
        margin-bottom: 40px;
    }
    .container {
        margin: 50px 50px;
    }
}
@media screen and (max-width:994px) {
    .panel {
        display: flex;
        flex-direction: column;
    }
    .tab {
        height: 1500px;
        flex-direction: column;
    }
    .tab-title {
        margin-bottom: 20px;
    }
}
@media screen and (max-width:880px) {
    .tab-title {
        font-size: 40px;
    }
    .tab img {
        width: 40%;
        height: auto;
    }
    .button {
        font-size: 15px;
    }
    .tab {
        height: 70vh;
    }
}
@media screen and (max-width:845px) {
    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .title {
        font-size: 40px;
    }
}
@media screen and (max-width:830px) {
    .player {
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:710px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer .social {
        margin-bottom: 20px;
    }
}
@media screen and (max-width:608px) {
    .team-title {
        font-size: 25px;
    }
}
@media screen and (max-width:510px) {
    header h1 {
        display: none;
    }
}
@media screen and (max-width:461px) {
    .product-card img {
        width: 150px;
        height: auto;
    }
    .product-card #image {
        font-size: 50px;
    }
    .container .title {
        font-size: 30px;
    }
}